    #Bench_dips_wrap {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    
    #Bench_dips_wrap .img_cov {
        height: 330px;
        overflow: hidden;
        border-bottom-left-radius: 57px;
    }
    
    #Bench_dips_wrap .img_cov img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    #Bench_dips_wrap .overlay {
        position: absolute;
        background: #00000075;
        height: 100%;
        width: 100%;
        z-index: 1;
        border-bottom-left-radius: 57px;
    }
    
    .overlay_text {
        position: absolute;
        bottom: 30px;
        left: 20px;
        color: #fff;
    }
    
    .overlay_text p {
        margin-bottom: 0;
        font-weight: 200;
        font-size: 15px;
    }
    
    .overlay_text h2 {
        letter-spacing: 1px;
    }
    
    .circle_row h2 {
        background: #8b55ae;
        height: 45px;
        width: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%;
        font-weight: 200;
        border: 1px solid #8d49b9;
    }
    
    .circle_row h3 {
        font-weight: 600;
    }
    
    .bench_wrap {
        background: #fff;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }
    
    .circle_row {
        margin-top: 20px;
    }
    
    .circle_row .row {
        margin-left: 32px;
    }
    
    .circle_cov .segundo h2 {
        background: #d580a7;
        border: 1px solid #d580a7;
    }
    
    .circle_cov .primero {
        border-right: 1px solid #e6e6e6;
    }
    
    .circle_cov .tercero {
        border-left: 1px solid #e6e6e6;
    }
    
    #time_zone {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #7d72ff;
        padding: 15px;
    }
    
    #time_zone a {
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin: 0;
        font-weight: 300;
    }
    
    .black_box {
        background: black;
        color: #fff;
        height: 300px;
        margin: 20px 0;
        padding: 15px;
    }
    
    .black_box h3 {
        font-weight: 400;
        font-size: 19px;
        text-align: center;
    }
    /* tik_tok_page */
    
    #tik_tok {
        height: 100vh;
        color: #fff;
    }
    
    .tik_tok_overlay {
        height: 100vh;
        background: #7d72ff94;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    #tik_tok #time_zone {
        background: transparent;
    }
    
    #tik_tok #time_zone h1 {
        font-size: 65px;
    }
    
    #send_back {
        position: fixed;
        top: 40px;
        font-size: 17px;
    }
    
    #send_back a {
        color: #fff;
        padding-left: 35px;
        font-weight: 200;
    }
    
    #send_back ion-icon {
        position: absolute;
        top: 0px;
        left: 9px;
        font-size: 25px;
    }
    
    .timer {
        font-size: 85px;
        margin-bottom: 15px;
    }
    
    #tik_tok h2 {
        font-weight: 400;
        font-size: 25px;
    }
    
    span.set {
        font-weight: 300;
    }
    
    span.count {
        font-size: 50px;
    }
    /* sign_up */
    
    .form_wrap {
        margin-top: 18vh;
    }
    
    .form_cov {
        background: #efedff;
        border-radius: 20px;
        padding: 20px 15px;
        margin: 25px 0;
    }
    
    .form_cov .input-group {
        margin-bottom: 10px;
    }
    
    .form_cov .form-control {
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0;
    }
    
    .form_cov .input-group-addon {
        background: transparent;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        padding: 6px 0;
        padding-left: 0;
    }
    
    .form_cov a {
        color: #576574;
    }
    
    .form-group ion-icon {
        font-size: 24px;
        color: #576574;
    }
    
    .sign_btn {
        color: #867dff;
        background-color: #efedff;
        border-color: #efedff;
        border-radius: 25px;
        width: 65%;
        font-weight: 500;
        margin-bottom: 25px;
        font-size: 18px;
        padding: 10px;
    }
    
    .sign_btn:hover,
    .sign_btn:focus {
        color: #867dff;
        background-color: #dddbf1;
        border-color: #dddbf1;
    }
    
    .que a {
        color: #fff;
    }
    
     ::placeholder {
        color: #627284 !important;
        opacity: 1;
        /* Firefox */
    }
    
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #627284 !important;
    }
    
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #627284 !important;
    }
    /* body_parts_page */
    
    #start_slider,
    #diet_inner,
    #diceWrap,
    #tranning_wrap,
    #simpleWrap {
        padding-top: 270px;
    }
    
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        width: 60%;
    }
    
    #start_slider .swiper-slide {
        width: 80% !important;
    }
    
    .workout {
        border-radius: 40px;
    }
    
    .overlay_work {
        height: 50vh;
        background: #000000a1;
        border-radius: 40px;
        padding: 25px;
        color: #fff;
        text-align: left;
    }
    
    .overlay_work h3 {
        font-size: 25px;
        font-weight: 400;
    }
    
    .overlay_work p {
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 1px;
    }
    
    .start {
        background: #7c72ff;
        padding: 10px;
        bottom: 18px;
        position: absolute;
        width: 62%;
        left: 16%;
        text-align: center;
        border-radius: 25px;
        color: #fff;
        text-transform: uppercase;
    }
    
    .start:hover,
    .start:focus {
        color: #fff;
    }
    
    #diet_inner ol,
    #diet_inner ul {
        padding-left: 10px;
    }
    /* listWrap */
    
    #listWrap {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
    }
    
    .list_item:nth-child(2) {
        background: #241332;
    }
    
    .list_item:nth-child(3) {
        background: #327fd6;
    }
    
    .blu,
    .pik,
    .pur {
        height: 100%;
        width: 100%;
        color: #fff;
        padding-left: 20px;
        padding-top: 8%;
        padding-bottom: 8%;
    }
    
    .blu {
        background: #985eff;
    }
    
    .pik {
        background: #d47fa6;
    }
    
    .pur {
        background: #241332;
    }
    
    .list_item .right {
        color: #ffffff6e;
    }
    
    .list_item .right h1 {
        font-size: 80px;
        margin: 0px;
    }
    
    .list_item .right h3 {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
    }
    
    .list_item .row {
        margin: 0;
    }
    
    .list_item .left h4 {
        font-weight: 200;
        letter-spacing: 1px;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .list_item .left h2 {
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 25px;
    }
    /* diet_page */
    
    #dietWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .diet {
        margin-top: 40%;
        padding: 65px;
    }
    
    .d_product {
        width: auto;
        display: flex;
        background: #fff;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 25px;
        color: #333;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .d_product:hover,
    .d_product:focus {
        color: #333;
    }
    
    .d_product img {
        width: 64px;
        margin-bottom: 10px;
    }
    
    .diet_cov {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 17px;
    }
    /* diet_inner_page */
    
    .slide_cont {
        background: white;
        margin: 20px;
        margin-bottom: 40px;
        box-shadow: 0px 2px 3px rgba(175, 175, 175, 0.42);
        padding: 20px;
    }
    
    .slide_cont img {
        height: 100px;
        margin-bottom: 20px;
    }
    
     :root {
        --swiper-theme-color: #000000 !important;
    }
    /* calculator_page */
    
    #calculator_wrap {
        /* position: absolute; */
        z-index: -1;
        width: 100%;
    }
    
    #calculator_wrap .form_cov {
        background: #fff;
        border-radius: 0;
        padding: 20px 20px;
        padding-top: 300px;
        margin: 0;
        box-shadow: 0px -1px 7px rgba(134, 134, 134, 0.54);
    }
    
    .calc_btn {
        color: #fff !important;
        background-color: #867dff;
        border-color: #867dff;
        border-radius: 25px;
        width: 85%;
        font-weight: 500;
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }
    
    .calc_btn:hover,
    .calc_btn:focus {
        background-color: #736aea;
        border-color: #736aea;
    }
    
    .btn.focus,
    .btn:focus {
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0);
    }
    
    #calculator_wrap .modal p {
        text-align: left;
        margin-bottom: 10px;
    }
    
    #calculator_wrap .modal {
        top: 20%;
    }
    
    #calculator_wrap .modal-body {
        padding: 0;
    }
    
    #calculator_wrap .modal button {
        width: 100%;
        border-radius: 0;
        background: #867dff;
        border-color: #867dff;
        font-size: 20px;
        padding: 15px;
    }
    
    .out_put {
        padding: 20px;
    }
    
    #calculator_wrap ion-icon {
        font-size: 24px;
        color: #576574;
    }
    /* workout_op_page */
    
    #workout_op {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    #workout_op .diet {
        padding: 65px 200px;
    }
    
    #workout_op .d_product {
        width: 100%;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 285px;
    }
    
    #workout_op .d_product:hover,
    #workout_op .d_product:focus {
        color: #000;
    }
    
    #workout_op .d_product img {
        height: 64px;
        width: 64px;
        margin-bottom: 0 !important;
    }
    
    #workout_op .d_product ion-icon {
        height: 40px;
        width: 40px;
        padding: 15px;
        color: #000;
    }
    
    #workout_op .diet_cov {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 17px;
    }
    
    #workout_op .d_product:nth-child(1) {
        background: #FF0F97;
    }
    
    #workout_op .d_product:nth-child(2) {
        background: #6458FF;
    }
    
    #workout_op .d_product {
        color: #fff;
    }
    
    #factory_opt .d_product:nth-child(1) {
        background: #FF0F97;
    }
    
    #factory_opt .d_product:nth-child(2) {
        background: #6458FF;
    }
    
    #factory_opt .d_product:nth-child(3) {
        background: #FFC500;
    }
    
    #factory_opt .d_product {
        color: #fff;
    }
    /* tranning_page */
    
    .accordion .card-header {
        cursor: pointer;
        background: #6458ff;
        color: #fff;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 3px;
    }
    
    .accordion.heading-right .card-title {
        position: absolute;
        right: 50px;
    }
    
    .accordion.indicator-plus .card-header:after {
        font-family: 'FontAwesome';
        content: "\f068";
        float: right;
    }
    
    .accordion.indicator-plus .card-header.collapsed:after {
        content: "\f067";
    }
    
    .accordion.indicator-plus-before.round-indicator .card-header:before {
        font-family: 'FontAwesome';
        font-size: 14px;
        content: "\f078";
        margin-right: 10px;
        position: absolute;
        right: 0;
    }
    
    .accordion.indicator-plus-before.round-indicator .card-header.collapsed:before {
        content: "\f054";
        color: #fff;
        position: absolute;
        right: 0;
    }
    
    .accordion.indicator-plus-before .card-header:before {
        font-family: 'FontAwesome';
        content: "\f068";
        float: left;
    }
    
    .accordion.indicator-plus-before .card-header.collapsed:before {
        content: "\f067";
    }
    
    .accordion.indicator-chevron .card-header:after {
        font-family: 'FontAwesome';
        content: "\f078";
        float: right;
    }
    
    .accordion.indicator-chevron .card-header.collapsed:after {
        content: "\f077";
    }
    
    .accordion.background-none [class^="card"] {
        background: transparent;
    }
    
    .accordion.border-0 .card {
        border: 0;
    }
    
    .card {
        border: 0;
    }
    
    .card-body {
        padding: 0;
    }
    
    .card-body .btn_done input {
        background: #28a745;
        color: #fff;
        padding: 8px 30px;
        border: 0;
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    thead th {
        background: #c4c0f3;
        color: #746aff;
    }
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 0px solid #e9ecef;
    }
    
    .table-bordered thead td,
    .table-bordered thead th {
        border-bottom-width: 0px;
    }
    
    .table-bordered th {
        border: 0px solid #e9ecef;
    }
    
    .table-bordered thead th:not(:last-child) {
        border-right: 1px solid #e9ecef;
    }
    
    .table-bordered {
        border-top: 0;
        margin-bottom: 10px;
    }
    
    .card-header:first-child {
        border-radius: 0;
    }
    
    #simpleWrap .new {
        margin: 15px 0;
        background: white;
        padding: 20px;
    }
    /* ex_form */
    
    #ex_form #calculator_wrap .form_cov {
        padding-top: 20px;
        margin-top: 35px;
        box-shadow: 0px 0px 0px rgba(134, 134, 134, 0.54);
    }
    
    .table-bordered {
        margin-bottom: 0;
    }
    
    .grp_cov .input-group-addon {
        float: left;
        width: 8%;
        padding: 3.5px 0;
    }
    
    #ex_form #calculator_wrap {
        background: #fff;
        margin-top: 30px;
    }
    
    .grp_feild {
        float: left;
        width: 90%;
        text-align: left;
    }
    
    #show_hide_password .form-control {
        width: 92%;
        float: left;
    }
    
    #show_hide_password .eye {
        padding: 8px 0;
    }
    
    .t-fix {
        display: flex;
        border-left: 1px solid #e9ecef;
    }
    
    .t-fix_child {
        flex: 1;
        padding: 10px;
        border-right: 1px solid #e9ecef;
    }
    
    .t-fix h4 {
        font-size: 17px;
        margin: 5px 0;
        color: #333;
    }
    
    .t-fix h4 span {
        color: #15769e;
    }
    
    #needs-validation img {
        height: 70px;
    }
    /* language */
    
    .language {
        position: absolute;
        right: 96px;
        top: 40px;
    }
    
    .sl-nav {
        display: inline;
    }
    
    .sl-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-block;
    }
    
    .sl-nav li {
        cursor: pointer;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    
    .sl-nav li ul {
        display: none;
    }
    
    .sl-nav li:hover ul {
        position: absolute;
        top: 29px;
        right: -15px;
        display: block;
        background: #fff;
        width: 115px;
        padding-top: 0px;
        z-index: 1;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    
    .sl-nav li:hover .triangle {
        position: absolute;
        top: 15px;
        right: -10px;
        z-index: 10;
        height: 14px;
        overflow: hidden;
        width: 30px;
        background: transparent;
    }
    
    .sl-nav li:hover .triangle:after {
        content: '';
        display: block;
        z-index: 20;
        width: 15px;
        transform: rotate(45deg) translateY(0px) translatex(10px);
        height: 15px;
        background: #fff;
        border-radius: 2px 0px 0px 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    
    .sl-nav li ul li {
        position: relative;
        text-align: left;
        background: transparent;
        padding: 5px 10px;
        padding-bottom: 0;
        z-index: 2;
        font-size: 15px;
        color: #3c3c3c;
        text-transform: uppercase;
    }
    
    .sl-nav li ul li:last-of-type {
        padding-bottom: 15px;
    }
    
    .sl-nav li ul li span {
        padding-left: 5px;
    }
    
    .sl-nav li ul li span:hover,
    .sl-nav li ul li span.active {
        color: #146c78;
    }
    
    .sl-flag {
        display: inline-block;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
        width: 25px;
        height: 25px;
        background: #aaa;
        border-radius: 50%;
        position: relative;
        top: 7px;
        overflow: hidden;
    }
    
    .sl-flag img {
        height: 100%;
        width: 100%;
    }
    
    .card-body h3 {
        text-align: center;
        margin: 30px 0;
    }
    
    #ex_form .d-flex th,
    #ex_form .d-flex td {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .profile_pic {
        box-shadow: 0px 0px 9px #d4d4d4;
        background: white;
        padding: 20px;
        text-align: center;
    }
    
    .profile_pic h5 {
        margin-top: 20px;
    }
    
    .profile_pic img {
        width: 185px;
        height: 185px;
        object-fit: cover;
        border: 2px solid #6458ff;
        border-radius: 50%;
    }
    
    #ex_form .form_cov {
        margin: 0;
        border-radius: 0;
    }
    
    .ex_row {
        background: white;
        box-shadow: 0px 0px 9px #d4d4d4;
        padding: 25px 10px;
    }
    
    #ex_form .calc_btn {
        margin: 0;
    }
    
    .profile ul {
        background: white;
        padding: 20px;
        box-shadow: 0px 0px 9px #d4d4d4;
        position: relative;
    }
    
    .profile ul li {
        list-style: none;
        line-height: 1.8;
    }
    
    .profile ul li span {
        width: 20%;
    }
    
    .profile ul li .constant {
        width: 21%;
        float: left;
        text-align: right;
        margin-right: 30px;
    }
    
    .profile .edit {
        position: absolute;
        z-index: 1;
        right: 35px;
        top: 15px;
        font-size: 14px;
    }
    
    .profile .edit a {
        color: #333;
    }
    
    .ex_row .btn-success {
        color: #fff;
        background-color: transparent;
        border-color: transparent;
        /* padding: 10px; */
        margin: 0 10px;
        cursor: pointer;
    }
    
    #ex_form .calculator_wrap {
        background: white;
        margin-top: 15px;
        box-shadow: 0px 0px 9px #d4d4d4;
    }
    
    #ex_form .form_cov {
        background: transparent;
    }
    
    #ex_form .calc_btn {
        width: 100%;
    }
    
    #ex_form #tranning_wrap {
        margin-bottom: 30px;
    }
    
    #ex_form .c_pic .modal .modal-body {
        padding: 0;
    }
    
    #ex_form .c_pic .modal .btn-danger {
        width: 100%;
        border-radius: 0;
        background: #867dff;
        border-color: #867dff;
        font-size: 20px;
        padding: 15px;
    }
    
    .edit_in .constant {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .edit_in .constant label {
        margin: 0;
    }
    
    .edit_input {
        width: 80%;
    }
    
    #myModal2 .form_cov {
        padding: 20px 65px;
    }
    
    #myModal2 .calc_btn {
        margin-top: 20px;
        width: 50%;
    }
    
    .edit_layer {
        margin-bottom: 10px;
        display: flex;
    }
    
    .profile-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        position: relative;
        border-radius: 50%;
    }
    
    .file-upload {
        display: none;
    }
    
    .circle {
        position: relative;
        border-radius: 50%;
        width: 185px;
        height: 185px;
        border: 8px solid rgba(255, 255, 255, 0.7);
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .p-image {
        position: absolute;
        bottom: 3px;
        height: 100%;
        width: 100%;
        left: 0;
        z-index: 1;
        color: #666666;
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        cursor: pointer;
    }
    
    .p-image i {
        width: 230px;
        height: 177px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: black;
        font-size: 17px;
    }
    
    .p-image:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }
    
    .upload-button {
        font-size: 1.2em;
    }
    
    .upload-button:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #867dff;
    }
    
    .calculator_wrap.cal_fix {
        position: fixed;
        width: 20%;
        top: 0;
    }