.navbar {
    font-family: 'HelveticaNeueLTPro-Bd';
    -webkit-transition: padding 0.9s ease;
    -moz-transition: padding 0.9s ease;
    -o-transition: padding 0.9s ease;
    transition: padding 0.9s ease;
    background-color: #fff !important;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
}

header.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    -webkit-transition: padding 0.9s linear;
    -moz-transition: padding 0.9s linear;
    -o-transition: padding 0.9s linear;
    transition: padding 0.9s linear;
}

/* nav */

.navbar {
    padding: .5rem 0;
}

.navbar-brand {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
    color: var(--mColor) !important;
    text-transform: uppercase;
}

.navbar-brand span {
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: var(--sColor) !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: var(--mColor);
}

.navbar-light .navbar-nav .nav-link {
    color: var(--sColor);
    letter-spacing: 1px;
    font-size: 0.87rem;
    text-transform: uppercase;
    padding: .5rem 1.3rem;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle i {
    font-size: 11px;
    color: #1d1d1d;
}

.dropdown-menu {
    border-radius: 0;
    border: 0px solid rgba(0, 0, 0, .15);
}

.dropdown-item {
    font-weight: 300;
    color: var(--sColor);
}

@media (max-width: 767px) {
    .navbar.affix {
        z-index: 9999999;
    }
    /* .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999999;
        background: white;
    } */
    .navbar-toggler {
        border: 0px solid transparent;
    }
    .navbar-brand {
        font-size: 1.2rem !important;
    }
    .navbar-brand span {
        font-size: 0.7rem !important;
    }
}

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .navbar-brand span {
        font-size: 0.755rem;
    }
    .navbar-brand {
        font-size: 1.3rem;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.8rem;
    }
}

/*remove bootstrap default svg background */

.navbar-light .navbar-toggler {
    background: none;
}

/*hamburger-changer-on-click*/

/* Icon 1 */

.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}

.animated-icon2 span:nth-child(1) {
    width: 100%;
}

.animated-icon2 span:nth-child(4) {
    width: 100%;
}

.animated-icon2 span {
    background: #000;
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}