header {
    height: 64px;
}

#signUpWrap {
    background: whitesmoke;
    padding: 40px 0;
}

#signUpWrap h3 {
    margin-bottom: 15px;
    border-left: 4px solid #3f51b5;
    padding-left: 20px;
}

.form-divider {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.feild_title h4 {
    font-size: 1.3rem;
    border-bottom: 1px dotted #9e9e9e;
    padding-bottom: 7px;
}

.feild_entry .label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feild .form-control {
    border-radius: 0;
    width: 65%;
}

.feildCov {
    padding-top: 10px;
}

.feild_entry {
    padding: 7px 0;
}

.checkBox ul {
    padding: 0;
}

.checkBox ul li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.checkBox input {
    margin-right: 5px;
}

.submitBtn {
    text-align: right;
}

/* .submitBtn .sub_help {
    background: #ff1515 !important;
}

.submitBtn .sub_help:hover {
    background: #e40d0d !important;
} */

@media (max-width: 767px) {
    .submitBtn {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .label label {
        margin: 0;
    }
    .feild_entry .label {
        text-align: right;
    }
}